{% extends "base.html" %}
{% block title %}contact{% endblock title %}
{% block body %}
<div class="col-lg-8 m-5">
  <form class="form-contact contact_form"  method="post" >
    <h1 class="m-2">Leave A Message</h1>
    {% csrf_token %}
    <div class="row">
      <div class="col-12">
        <div class="form-group">
          <input class="form-control" name="subject" id="subject" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Subject'" placeholder = 'Enter Subject'>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">
          <input class="form-control" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter your Gmail'" placeholder = 'Enter your Gmail'>
        </div>
      </div>
      <div class="col-12">
        <div class="form-group">

            <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Enter Message'" placeholder = 'Enter Message'></textarea>
        </div>
      </div>
    </div>
    <div class="form-group mt-3">
      <button type="submit" class="site-btn">Send Message</button>
    </div>
  </form>
</div>
{% endblock body %}
