{% extends "base.html" %}
{% block body %}
{% load static %}
<h1 class="m-5">HellO</h1>
<div class="container">
<div class="row">
  {% if user.is_authenticated %}<h1>go to <a href="{% url 'class:class_list' %}">class</a> now</h1>
  {% else %}
  <div class="col-md-6">
  <h3>welcome in your study enhancer <a href="{% url 'accounts:signup' %}"class="btn btn-primary">signup now</a> and start sheduling your subjects for Free .</h3><br>
  <h4>Have An Account <a href="{% url 'login'  %}">Sign In Now</a></h4>
  </div>
  <div class="col-md-6">
    <h3>our rules:-</h3>
    <ol class="m-2">
      <h4><li>GIving you ability to add millions of your e-lessons in one place</li>
        <li>Shedule your class in one place</li>
      <li>PRoviding full secure data shelters</li>
      <li>Auto Week Table on your Classes</li>
      <li>Auto Daily Mails to Your Gmail</li>
      <li>Notes area In every Lesson in addition to lesson material inputs</li></h4>
    </ol>
  </div>
  {% endif %}
</div>
</div>
{% endblock body %}
